{
    "presets": [
      "@babel/preset-env",    // Transpile modern JavaScript to older versions if needed
      "@babel/preset-react",   // Transpile JSX code
      "@babel/preset-typescript"
    ]
  }
  