// _colors.scss

// Primary colors
$primary-color: #3498db;
$secondary-color: #2ecc71;



// Neutral colors
$black: #000000;
$white: #ffffff;
$gray-light: #ecf0f1;
$gray-dark: #34495e;

// Accent colors
$accent-color: #e74c3c;
$warning-color: #f39c12;

// You can add more colors as needed...

// background color
$primary-background-color: hsl(0, 0%, 90%);
